/* Styles for navbar and footer elements */

/* Footer styles */
footer {
    text-align: center;
    padding: 12px 12px;
    background-color: black;
    color: white;
}

.footer-link {
    text-decoration: none;
    padding-bottom: 2%;
    color: white;
}

.footer-link:hover {
    text-decoration: underline;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    width: 25px;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
    width: 25px;
}

/* Navbar styles */
/* Show mobile class, hide tablet-desktop class */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: auto;
    }

    .grid-head {
        padding-top: 5%;
    }

    .navbar {
        display: none;
    }

    .mobile {
        display: block;
        padding-left: auto;
    }

    .tablet-desktop {
        display: none;
    }

    .mobile h2 {
        text-align: center;
    }
}

/* Show tablet-desktop class, hide mobile class */
@media screen and (min-width: 769px),
print {
    .mobile {
        display: none;
    }

    .tablet-desktop {
        display: block;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: sticky;
    top: 0;
}

li {
    display: inline;
    float: left;
    list-style-type: disc;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

li a:hover {
    background-color: #333;
}

a {
    display: block;
    padding: 8px;
    background-color: black;
}

/* Style navigation menu */
.topnav {
    overflow: hidden;
    background-color: black;
    position: relative;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

/* Style navigation menu links */
.topnav a {
    /* float: left; */
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

/* Add black background on mouse-over */
.topnav a:hover {
    background-color: #333;
}

.topnav a.icon:hover {
    background-color: #333;
}

/* Hide links inside nav menu, except for logo & home */
.topnav #myLinks {
    display: none;
}

.topnav #nav-item2 {
    display: none;
    overflow: hidden;
}

.topnav #nav-item2:hover {
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}